<!--
  /*
============================================
; Title:  index.ejs (Update V)
; Author: Professor Krasso
; Modified By: Aaron Wilson
; Date: 23 June 2019
; Description: Main Index EJS Template File
;===========================================
*/
-->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= subTitle %></p>
  </body>
</html>
